/*top部分*/
.top{width: 100%;height:31px;border-bottom: 1px solid #dddddd;line-height: 31px;color: #90d3ef;}
.top-sub{width: 1200px;margin: 0 auto;}
.top i{font-style: normal;color:#dfe6f3;margin:0 14px;}
.top .top-l{margin-left: 8px;}
.top .top-l a{color: #6d6d6d;}
.top .top-l .top-l1{height:13px;line-height: 13px;display:line-block;padding-right: 13px;}
.top .top-l .top-l2{display: inline-block;height:13px;line-height: 13px;}
.top .top-r{padding-right:50px;}
.top .top-r a{color:#6d6d6d;display:inline-block;height: 13px;line-height: 13px;}
.top a:hover{color: #45bfde;}
/*header部分*/
.header{width: 1200px;margin:0 auto;}
.header .logo{padding:25px 90px 25px 0;}
.header .logo a{display: block;}
.header .header-text{line-height: 143px;margin-right: 30px;}
.header .header-text span{font-size: 24px;color:#777777;}
/*TAB切换部分*/
.header .search{padding:20px;width:700px;}
.header .search .search-top ul li{float:left;width:50px;height:25px;line-height:25px;text-align:center;overflow: hidden;cursor: pointer;}
.header .search .search-top ul li:hover{background-color: #00bdff;color:#ffffff;}
.header .search .search-top ul .select{background: #00bdff;color:#fff;}
.header .search form .search-box{width:678px;height: 43px;}
.header .search form .search-box .box1 input{width:576px;height:39px;border:2px solid #00bdff;font-size: 17px;}
.header .search form .search-box .box2{display: inline-block;} 
.header .search form .search-box .box2 input{width:97px;height:43px;background: #00bdff;color:#ffffff;font-size: 18px;margin-left: -4px;border:1px solid #00bdff;cursor: pointer;}
.header .search .search-bottom ul li{margin: 11px 17px 0 0;float:left;}
.header .search .search-bottom ul li a{color: #777777;}
#tab_con ul{display: none;}
#tab_con ul.show{display: block;}

.header .guild{height: 94px;padding: 48px 0 0 40px;}
.header .guild .guild-sub{float:left;width:48px;height:47px;
	margin-right: 23px;text-align: center;}
/*content部分*/
.content{margin-bottom: 60px;}
.content .nav{height:39px;background-color:#00bdff;}
.nav ul{width: 1200px;margin: 0 auto;}
.nav ul li{float:left;font-size: 18px;width: 160px;line-height: 39px;text-align: center;}
.nav ul li a{display: inline-block;color:#ffffff;}
.nav ul .nav-1{width: 212px;line-height: 39px;text-align: center;position: relative;background: #2cb1e7;padding-left: 5px;}

/*banner图效果*/
.content .bannerpic{width:1200px;margin:0 auto;}
.content .wrap{width: 1015px;margin: 0 auto;}
/*栏目一部分*/
.content .huodong1-column{width: 1015px;margin:0 auto;color: #565656;/*border-bottom: 1px solid #999;*/padding-top: 10px;}
.content .huodong1-column .huodong1-column1{width:641px;height:359px;float:left;position: relative;}
.content .huodong1-column .huodong1-column1 .column1-1 .column1-1{width: 100%;}
.content .huodong1-column .huodong1-column1 .column1-1 .column1-1-title{padding-bottom: 5px;}
.content .huodong1-column .huodong1-column1 .column1-1 .column1-1-title .title-l a{color:#00bdff;font-size: 20px;background: url(../images/xiangqing-icon.png) 2px 0px no-repeat;padding-left: 38px;}
.content .huodong1-column .huodong1-column1 .column1-1 .column1-1-title .title-r{color: #b3b3b3;font-size: 14px;display: inline-block;float: right;padding-right: 70px;line-height: 30px;}
.content .huodong1-column .huodong1-column1 .column1-1 p{height: 160px;text-indent: 2em;line-height: 22px;font-size:14px;padding-right: 36px;}
.content .huodong1-column .huodong1-column1 .column1-2{width: 420px;float:left;}
.content .huodong1-column .huodong1-column1 .column1-2 .column1-2-1{color: #ff2700;font-size: 28px;}
.content .huodong1-column .huodong1-column1 .column1-2 .column1-2-2{font-size: 14px;line-height: 40px;}
.content .huodong1-column .huodong1-column1 .column1-2 .column1-2-3{font-size: 20px;color: #00bdff;padding:50px 0 0 35px;background: url(../images/people-icon.png) 2px 44px no-repeat;}
.content .huodong1-column .huodong1-column1 .column1-3{position: absolute;right:20px;bottom:35px;}
.content .huodong1-column .huodong1-column1 .column1-3 div a{display: inline-block;width: 177px;height: 40px;background-color: #ff9900;border-radius: 6px;font-size: 18px;line-height: 40px;text-align: center;color: #fff;margin-top: 10px;}
.content .huodong1-column .huodong1-column2{width:359px;height:359px;float:left;}

.content .huodong1-column .huodong1-column2 .column2-2-1{display:inline-block;width:100%;height:32px;line-height:32px;background: url(../images/time-icon.png)0 0 no-repeat;text-indent: 50px;color: #00bdff;font-size: 18px;}
.content .huodong1-column .huodong1-column2 .column2-2-2{background: url(../images/location-icon.png)0 0 no-repeat;}
.content .huodong1-column .huodong1-column2 p{font-size: 14px;line-height: 38px;}
/*地图API*/
.content .huodong1-column .huodong1-column2 .location-api{width: 300%;height:200px;}
#drag .content{overflow:auto;margin:0 5px;}
#f_container{border: 1px solid #999999;position: absolute;top:50px;left: 10px;z-index: 1000;    }
#container{width:290px;overflow: hidden;height: 20px;background:#F2F3F5;border: 5px solid #F2F3F5; }
#container select{border: 1px solid #ccc;}
.content-1 .btn{width:105px; height: 30px;font-size: 13px; }

.content .huodong1-column .huodong1-column3{width:1015px;height:360px;float:left;}
.content .huodong1-column .huodong1-column3 .column3-1{width: 190px;margin:15px 10px 0 0;float:left;}
.content .huodong1-column .huodong1-column3 .column3-1 .column3-1-1{font-weight:bold;font-size: 14px;width: 100%;margin-left: 50px;}
.content .huodong1-column .huodong1-column3 .column3-1 p{line-height: 24px;}

.content .huodong1-column .huodong1-column4{width: 753px;margin:20px 0 20px 0;border:1px solid #e6e6e6;float:left;}
.content .huodong1-column .huodong1-column4 .column4-1{border: 1px solid #e5e5e5;height:48px;line-height:48px;padding-right: 40px;}
.content .huodong1-column .huodong1-column4 .column4-1 .column4-1-1{line-height: 48px;width: 500px;float:left;color: #969696;padding-left:40px;}
.content .huodong1-column .huodong1-column4 .column4-1 .column4-1-2{float:right;}
.content .huodong1-column .huodong1-column4 .column4-1 .column4-1-2 .column4-1-2-1{display: inline-block;width: 82px;height: 36px;background: #00bdff;border-radius:6px;color: #fff;text-align: center;line-height:36px;cursor: pointer;}
.content .huodong1-column .huodong1-column4 .column4-1 .column4-1-2 .column4-1-2-2{background: #ff9900;}
.content .huodong1-column .huodong1-column4 .column4-2{height: 170px;border-bottom: 1px solid #e6e6e6;}
.content .huodong1-column .huodong1-column4 .column4-2-1{width: 82px;height:110px;padding:36px 18px 0 40px;text-align: center;float:left;}
.content .huodong1-column .huodong1-column4 .column4-2-2{float:left;width:600px;padding-top: 40px;}
.content .huodong1-column .huodong1-column4 .column4-2-2-1{background: url(../images/smile-icon.png) 0px 0px no-repeat;line-height: 25px;margin-bottom: 20px;}
.content .huodong1-column .huodong1-column4 .column4-2-2-2{color: #969696;}
.content .huodong1-column .huodong1-column5{width: 250px;height:385px;margin-top:20px;float:right;overflow: hidden;}
.content .huodong1-column .huodong1-column5 dl{border: 1px solid #e6e6e6;}
.content .huodong1-column .huodong1-column5 dl dt{line-height: 40px;border-top: 2px solid #00bdff;border-bottom:1px solid #e7e7e7;font-size: 15px;text-indent:23px;}
.content .huodong1-column .huodong1-column5 dl dd {line-height: 33px;text-indent: 15px;}
.content .huodong1-column .huodong1-column5 dl a{color: #565656;}
/*栏目二部分*/
/*回到顶部部分*/
#btn {width:40px; height:40px; position:fixed; right:80px; bottom:20px; display:none; background:url(../images/top_bg.png) no-repeat left top;}
#btn:hover {background:url(../images/top_bg.png) no-repeat 0 -40px;}
/*footer部分*/
.footer{height:284px;background-color: #e5e5e5;}
.footer .footer-sub{width: 520px;margin:0 auto;	padding-top: 33px;}
.footer .footer-sub .footer-textbox {width: 225px;float: left;margin-right: 10px;}
.footer .footer-sub .footer-textbox .text{color: #9e9e9e;font-weight: bold;}
.footer .footer-sub .footer-textbox .number{color: #6b6b6b;font-size: 30px;	font-weight: bold;}
.footer .footer-sub .share{padding:18px 0 0 8px;}
.footer .footerpic{width: 704px;height:38px;margin:0 auto;padding:28px 0 28px 0;}
.footer ul{width: 900px;margin:0 auto;}
.footer ul li{float:left;}
.footer ul li a{font-size: 14px;color:#6b6b6b;margin:0 20px;line-height: 40px;}
.footer p{color:#6b6b6b;line-height: 40px;text-align: center;}