
/*助理资料*/

.content-1{margin-bottom: 80px;}


.ad-photp-header{width:1200px;height:240px;background:url(../images/demandDetailsBackground.png) no-repeat;margin:0 auto;text-align:center;vertical-align:middle;padding-top:30px;}
.ad-photp-header-s{width:160px;height:160px;margin:0 auto;background:url(../images/xepertPhoto.png) no-repeat;border-radius:80px;background-clip:padding-box;}
.ad-table{width:1015px;height:80px;margin:0 auto;font-size:16px;color:#646464;}
.ad-td{float:left;line-height:70px;color:#727272;}
.ad-name{font-size:20px;width:115px;}
.ad-phone{width:217px;}
.ad-adress{width:245px;}
.ad-zhuanjia{width:145px;}
.ad-chengdan{width:155px;}
.ad-renqi{width:135px;}
.ad-search{width:514px;height:25px;margin:0 auto;font-size:16px;color:#646464;}
.ad-td-s{float:left;color:#727272;}
.ad-td-s input{width:100%;height:100%;border:0px;}
.ad-sou1{width:75px; height:25px;}
.ad-sou2{width:200px;height:25px; border-bottom:1px solid #7b7b7b;}
.ad-sou3{width:40px;height:25px;}
.ad-sou4{width:40px;height:25px;border-bottom:1px solid #7b7b7b;margin-right:5px;}
.ad-sou5{width:40px;height:25px;border-bottom:1px solid #7b7b7b;}
.ad-sou6{margin:4px 4px 0 4px;}

.ad-xx-w{width:1061px;height:25px; color:#878787;font-size:16px;margin:0 auto;margin-top:30px;margin-bottom:25px; line-height:25px;}
.ad-xx{border:1px dashed #878787;float:left;width:436px;margin-top:12px;}
.ad-center{width:185px;text-align:center;float:left;}

.ad-tjzj-table{width:1061px;height:180px;border:1px solid #e7e7e7; margin:0 auto;font-size:16px;color:#666666;}
.ad-tjzj-tr1,.ad-tjzj-tr2,.ad-tjzj-tr3,.ad-tjzj-tr4,.ad-tjzj-tr5{float:left;}
.ad-tjzj-tr1{width:180px;height:180px;text-align:center;}
.ad-tjzj-tr2{width:215px;height:180px;}
.ad-tjzj-tr3{width:290px;height:180px;}
.ad-tjzj-tr4{width:215px;height:180px;}
.ad-tjzj-tr5{width:161px;height:180px;}
.ad-tjzj-tr1 img{width:125px;height:125px;margin-top:28px;}
.ad-tjzj-tr-1{padding-top:40px;}
.ad-tjzj-tr-2{margin-top:20px;}
.ad-tjzj-tr-3{margin-top:20px;}
.ad-tjzj-tr-4{margin-top:40px;margin-left:40px;color:#00bdff;}
.ad-tjzj-tr-5{margin-top:58px;margin-left:40px;color:#ed7027;}
/*hover效果*/
.clear{clear:both;}
.ad-zllb-wapper1{width:1088px;margin:0 auto;}
.ad-zllb-wapper2{width:244px;height:270px;border:1px solid #e7e7e7;float:left;margin:10px;}

.ad-zlxx-t{width:244px;height:162px;position: relative;}
.ad-zllb-wapper2 img{position:relative;top:20px;left:61px;z-index:101;width:126px;height:122px;border-radius:70px;background-clip:padding-box;box-sizing:border-box;}
.cover-11{background:#e1f8ff;position:absolute;z-index:100;top:0;left:0;width:100%;height:100%;display:none;}
.ad-zllb-wapper2 a:hover .cover-11{display: block;}

.ad-zlxx-b{width:100%;height:90px;font-size:14px;border-top:1px solid #e7e7e7;}
.ad-zlxx-b1{width:100%;height:28px;}
.ad-zlxx-b2-l{width:145px;height:45px;color:#6d6d6d;padding-left:20px;float:left;}
.ad-zlxx-b2-r button{float:left;width:78px;height:23px;background-color:#ec6618;border:0;color:#fff;margin-top:21px;margin-left:-8px;}

.customerName{margin:0 auto;font-size:14px;color:#333;margin-top:15px;}
.customerNeedInfo,.needDetail{width:1015px;font-size:13px;color:#555;margin:0 auto;}
.customerNeedInfo tr{height:30px;vertical-align:middle;}
.needDetail{margin-top:10px;}
.needDetail li{display:inline-block;vertical-align:top;}
.popularityValue{width:1015px;height:20px;margin:0 auto;margin-top:20px;color:#999;border-bottom:1px solid #555;}


/*助理查询部分*/
.aq-zllb-wapper{width:870px;height:180px;border:1px solid #e8e8e8;font-size:14px;color:#646464;margin:25px 0 25px 0;}
.aq-zllb-wapper-l{width:418px;height:180px; float:left;}
.aq-zllb-wapper-l1{width:418px;height:108px;}
.aq-zllb-wapper-l2{margin-top:10px;margin-bottom:10px;}
.aq-zllb-wapper-l2,.aq-zllb-wapper-l3{margin-left:15px;}
.aq-zllb-wapper-l4,.aq-zllb-wapper-l5{float:left;}
.aq-zllb-wapper-l4{width:94px;margin:15px;}
.aq-zllb-wapper-l5{margin-top:20px;}
.aq-zllb-wapper-l7{margin-top:8px;margin-bottom:8px;}
.aq-zllb-wapper-r{width:452px;height:180px;float:left;}
.aq-zllb-wapper-r1,.aq-zllb-wapper-r2,.aq-zllb-wapper-r3{width:135px;height:155px;border:1px solid #e8e8e8;float:left;margin:11px 13px 0 0;}
.aq-zllb-img{margin:1px;}
.aq-zllb-img img{width:132px;height:127px;}