#wrap{width: 100%;background: #efefef;}
#wrap2{width: 1200px;margin:0 auto;}
/*content部分*/
.content .nav{height:39px;background-color:#00bdff;}
.content .nav ul{padding-left:295px;width: 1200px;margin:0 auto;}
.content .nav ul li a{display: inline-block;color:#ffffff;float:left;font-size: 18px;width: 145px;line-height: 39px;text-align: center;}
.content .content-sub{width:100%;height:192px;background: url(../images/order-bg.png) 0 0 repeat-x;}
.content .content-sub .content-sub1{width: 1200px;height:192px;margin:0 auto;background: url(../images/order-bg1.png) bottom left no-repeat;position: relative;}
.content .content-sub .content-sub1 .content-sub2{position: absolute;top:46px;right:150px;}
.content .content-sidebar{width: 146px;height:528px;border: 1px solid #e7e7e7;background: #fff;margin-top:27px;}
.content .content-sidebar dl{margin:20px 0 0 20px;}
.content .content-sidebar dl dt a{display:inline-block;background: url(../images/order-icon1.png) 2px 10px no-repeat;font-size: 14px;color: #26c2ff;text-indent: 25px;border-bottom: 1px solid #e4e4e4;width: 110px;height: 36px;line-height: 36px;}
.content .content-sidebar dl dd a{display:inline-block;color: #999999;font-size: 14px;line-height: 36px;text-indent:25px;}
.content .content-sidebar dl .order-icon2{background: url(../images/order-icon2.png) 2px 10px no-repeat;}
.content .content-sidebar dl .order-icon3{background: url(../images/order-icon3.png) 2px 10px no-repeat;}
.content .content-sidebar dl .no-border{border-bottom: none;background: url(../images/order-icon4.png) 2 10px no-repeat;}
.content .content-head{height:40px;width:400px;margin:-35px 0 0 24px;float:left;}
.content .content-head .content-head1{display:inline-block;margin-right:20px;font-size: 18px;color: #7d7d7d;}
.content .content-head .content-head2{color: #a0a0a0;}
.content .content-body{width: 900px;border:1px solid #e8e8e8;float:left;background: #fff;padding-top:30px;margin: 22px 0 15px 15px;}
.content .content-body .body-nav{padding-left: 29px;width: 835px;border-bottom: 1px solid #e8e8e8;overflow: hidden;}
.content .content-body .body-nav .nav-li{float:left;/*width:92px;*/height:41px;line-height:41px;padding:0 31px;border:1px solid #e8e8e8;color: #999999;font-size: 16px;cursor:pointer;}
.content .content-body .body-sub .body-title{font-size: 14px;color:#727272;padding-left:35px;line-height: 49px;}
.content .content-body .body-sub .body-title .special{color:#ed7027;}
.content .content-body .body-sub .body-title i{font-style: normal;color:#dfe6f3;margin:0 14px;}

/*个人资料页变化之处*/
.content-body .body-sub .body-con{width: 838px;/*height:192px;*/border: 1px solid #e8e8e8;margin:22px 0 0 35px;}
.content-body .body-sub .body-con .con-sub{/*margin:20px 0 0 20px;*/}
/*huang-css*/
/*inupt边框颜色*/
.inp-c{border:1px solid #e5e5e5;height: 45px;}
.main-wapper{width: 900px;height: 740px;margin: auto;}
.main-nav{margin-left: 30px;margin-top: 12px;margin-bottom: 43px;}
.tb-wapper{width: 792px;height: 240px;float: left;margin-left: 44px;border: 1px solid #e6e6e6;background-color: #f8f8f8;}
/*日历左边*/
.tb-cs{width: 550px;height: 240px;text-align: center;border: 1px solid #e6e6e6;
}
.tr-cs{border-bottom: 2px solid #e6e6e6;}
.tb-left,.tb-right{float: left;}
/*日历右边*/
.tb-right{width: 240px;text-align: center;}
.ml,.mr,.year{float: left;line-height: 44px;}
.ml{width: 23px;text-align: right;}
.mr{width: 23px;text-align: left;}
.year{width: 192px;text-align: center;}
.day{float: left;width: 175px;font-size: 6em;color: #9d9d9d;text-align: right;
    line-height: 190px;}
.week{float: right;width: 65px;color: #9d9d9d;font-size: 0.8em;margin-top: 115px;
    text-align: left;}
/*按钮*/
.but{color: #b2b2b2;width: 61px;height: 20px;font-size: 0.7em;text-align: center;
    float: right;margin-right: 64px;border: 1px solid #e3e3e3;}
.foot{width: 743px;margin-left: 75px;margin-top: 62px;border-top: 1px dashed #cdcdcd;}
.f-tb{width: 665px;margin-top: 17px;margin-left: 48px;margin-right: 54px;}
/*个人信息*/
.Personal-information{margin-bottom: 35px;color: #ed7027;}
.f{margin-left: 44px;padding-right: 15px;}
.inf-table{margin-left: 42px;}
.inf-tr{height: 80px;}
.size-inp{width: 640px;height: 90px;}
.age-one{width: 90px;height: 30px;text-align: center;}
.age-two{width: 60px;height: 30px;text-align: center;}
.age-three{width: 60px;height: 30px;text-align: center;}
.box-four{width: 95px;height: 30px;text-align: center;}
.inf-l{text-align: right;}
.inf-r{text-align: left;}
.img{width: 185px;height: 185px;border: 1px solid #dcdcdc;float: right;    position: relative;margin-top: -540px;margin-right: 73px;text-align: center; line-height: 185px;}
.wz{margin-top: -45px;}
.line{border: 1px dashed #dcdcdc;margin-top: 77px;margin-bottom: 60px;}
.but2{width: 164px;height: 38px;text-align: center;line-height: 38px;background-color: #ed7027;margin-top: 37px;margin-bottom: 47px;margin-left: 120px;}
/*银行卡信息*/
.Bank-card-information{margin-left: 230px;}
.bank-size{width: 300px;height: 34px;margin-bottom: 22px;}
.bank-size2{width: 300px;height: 34px;}
.prompt{margin-bottom: 22px;margin-left: 84px;font-size: 0.8em;}
.but3{background-color: #ed7027;width: 164px;height: 38px;text-align: center;line-height: 38px;margin-left: 84px;margin-top: 30px;color: #ffffff;}
/*修改密码*/
.phone-wapper{margin-left: 54px;}
.but4{border: 1px solid #e5e5e5;color: #44b7e9;height: 45px;float: right;width: 103px;text-align: center;font-size: 0.7em;line-height: 45px;}
.password-l{text-align: right;padding-right: 40px;margin-top: 30px;}
.m-t{margin-top: 20px;}
.pas-inp{width: 318px;margin-top: 20px;}
.but5{background-color: #ed7027;width: 164px;height: 38px;text-align: center;line-height: 38px;margin-left: 173px;margin-top: 30px;color: #ffffff;}


/*页码部分*/
.content .content-body .page-normal{width: 600px;margin: 0 auto;padding-top:17px;}
.content .content-body .page-normal .page-ul{float:left;height:36px;margin-bottom:17px;}
.content .content-body .page-normal .page-ul .lue{width: 27px;line-height:36px;text-align: center;float:left;}
.content .content-body .page-normal .page-ul .page-li {float:left;line-height:34px;font-size:14px;color:#888888;}
.content .content-body .page-normal .page-ul .page-li a{display:inline-block;/*width:34px;*/height:34px;padding:0 15px;color:#888888;border:1px solid #dddddd;margin-right:-1px;}
.content .content-body .page-normal .page-ul .page-li a:hover,.content .content-body .page-normal .page-ul .page-li .page-current{color: #fff;background: #ff9900;border: 1px solid #ff9900;}
.content .content-body .page-normal .page-ul .page-li .gotoPage{display: inline-block;border:1px solid #dddddd;width: 33px;height: 24px;}
/*footer部分*/
.footer{height:284px;background-color: #e5e5e5;}
.footer .footer-sub{width: 510px;margin:0 auto;	padding-top: 33px;}
.footer .footer-sub .footer-textbox {width: 215px;float: left;margin-right: 10px;}
.footer .footer-sub .footer-textbox .text{color: #9e9e9e;
	font-weight: bold;}
.footer .footer-sub .footer-textbox .number{color: #6b6b6b;font-size: 30px;font-weight: bold;}
.footer .footer-sub .share{padding:18px 0 0 8px;}
.footer .footerpic{width: 704px;height:38px;margin:0 auto;padding:28px 0 28px 0;}
.footer ul{width: 900px;margin:0 auto;}
.footer ul li{float:left;}
.footer ul li a{font-size: 14px;color:#6b6b6b;margin:0 20px;line-height: 40px;}
.footer p{color:#6b6b6b;line-height: 40px;text-align: center;}