<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.zhuanjiahui"/>

    <!-- 定义切面 -->
    <aop:config>
        <aop:advisor id="managerTx" advice-ref="txAdvice" pointcut="execution(* *..service.*Manager.*(..))"/>
    </aop:config>

    <tx:annotation-driven/>

    <aop:aspectj-autoproxy/>
    <!-- 定义事务 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" rollback-for="java.lang.Exception" propagation="REQUIRED"/>
            <tx:method name="list*" read-only="true" rollback-for="java.lang.Exception" propagation="REQUIRED"/>
            <tx:method name="form*" read-only="true" rollback-for="java.lang.Exception" propagation="REQUIRED"/>
            <tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception"/>
        </tx:attributes>
    </tx:advice>

    <!-- menu -->
    <bean id="jmenuManagerImpl" class="com.frame.core.p.service.impl.JmenuManagerImpl" init-method="initJmenuMap"
          scope="singleton"/>
    <!-- 获取spring上下文applicationContext  用于java读取国际化文件等 -->
    <bean id="applicationContextUtil" class="com.frame.core.util.ApplicationContextUtil" scope="singleton"/>
    <!--<bean id="configManagerImpl" class="com.zjhanization.service.impl.ConfigManagerImpl" init-method="loadConfigSets" scope="singleton"/>-->
    <!--<bean id="basicManagerImpl" class="XdoManagerImplinit-method="initQueryModelMap" scope="singleton"/>-->
</beans>
